*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'roboto', 'arial';
}
:root{
    --hdrColor: #FFF;
    --bgColor: #F3F3F3;
    --statusMsg: #DCDCDC;
    --pvtMsg: #FBDEDE;
    --toAllMsg: #FFF;
    --text: #000;
    --hourColor: #AAA;
    --modalBg: #FFF;
    --detailGrey: #D7D7D7;
    --modalBtn: #E7E7E7;
    --modalBtnTxt: #696969;
    --check: #28BB25;
    --msgInfos: #505050;
}
body{
    background-color: var(--bgColor);
}

.modal{
    position: fixed;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: var(--modalBg);
    height: 100vh;
    width: 100vw;
    top: 0;
    z-index: 2;
}
.invisible{
    display: none;
}
.modal-logo{
    width: 130px;
    height: 92px;
    margin-top: 72px;
    margin-bottom: 94px;
}
.modal-logo img{
    width: 100%;
    height: 100%;
}
form{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.user-name{
    width: 261px;
    height: 54px;
    border-radius: 4px;
    border: 1px solid var(--detailGrey);
    outline: none;
    padding-left: 10px;
    font-size: 18px;
    margin-bottom: 15px;
}
.user-name::placeholder{
    text-align: center;
}
.form-submit{
    background-color: var(--modalBtn);
    width: 109px;
    height: 45px;
    color: var(--modalBtnTxt);
    font-size: 18px;
    border: none;
    border-radius: 9px;
}
.loading{
    margin-top: -30px;
}


section{
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    position: fixed;
    top: 0;
    z-index: 2;
    opacity: 0;
    transition: all ease 1s;
    background-color: rgba(0, 0, 0, 0.6);
}
.contactsbg{
    flex: 1;
    height: 100%;
}
.section-visible{
    opacity: 1;
}
.contacts-area{
    background-color: var(--modalBg);
    width: 259px;
    height: 100vh;
    display: flex;
    flex-direction: column;
    transition: all ease 1s;
    transform: translateX(100vw);

}
.contacts-area-visible{
    transform: translateX(0);
}
.contacts-header p{
    text-align: center;
    font-size: 16px;
    font-weight: 700;
    padding: 15px 45px;
    line-height: 18px;
}
.contacts ul{
    max-height: 300px;
    overflow-y: scroll;
    -ms-overflow-style: none;
    scrollbar-width: none; 
}
.contacts ul::-webkit-scrollbar{
    display: none;
}
.contacts li{
    display: flex;
    align-items: center;
    margin-bottom: 5px;
    position: relative;
}
.contacts ion-icon{
    font-size: 23px;
    margin-left: 17px;
    margin-right: 8px;

}
.contacts ion-icon:last-child{
    color: var(--check);
    font-size: 14px;
    font-weight: 700;
    position: absolute;
    right: 10px;
}
.contact-name{
    font-size: 16px;
    max-width: 170px;
    max-height: 20px;
    white-space: nowrap;
    overflow: hidden; 
    text-overflow: ellipsis;
}
.visible-choice p{
    text-align: center;
    font-size: 16px;
    font-weight: 700;
    padding: 15px 45px;
    line-height: 18px;
}
.mode{
    display: flex;
    align-items: center;
    margin-bottom: 15px;
}
.visible-choice span{
    font-weight: 16px;
}
.visible-choice ion-icon{
    font-size: 23px;
    margin-left: 17px;
    margin-right: 8px;

}
.visible-choice ion-icon:last-child{
    color: var(--check);
    font-size: 14px;
    font-weight: 700;
    position: absolute;
    right: 10px;
}


header{
    width: 100vw;
    height: 80px;
    background-color: var(--hdrColor);
    display: flex;
    align-items: center;
    -webkit-box-shadow: 0px 4px 6px 0px rgba(0,0,0,0.05);
    -moz-box-shadow: 0px 4px 6px 0px rgba(0,0,0,0.05);
    box-shadow: 0px 4px 6px 0px rgba(0,0,0,0.05);
    position: fixed;
    top: 0;
    z-index: 1;
}
header .container{
    width: 100%;
    display: flex;
    justify-content: space-between;
    padding: 10px 15px;
    background-color: var(--hdrColor);
}
.logo,
.people{
    width: 75px;
    height: 55px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.people{
    background-color: transparent;
    border: none;
}
.logo img{
    width: 100%;
    height: 100%;
}
.people ion-icon{
    font-size: 42px;
}


.chat{
    height: 100vh;
    overflow-y: scroll;
    -ms-overflow-style: none;
    scrollbar-width: none;
}
.chat::-webkit-scrollbar{
    display: none;
}
.chat ul li:first-child{
    margin-top: 106px;
}
.chat ul li:last-child{
    margin-bottom: 80px;
}
.chat ul li{
    display: flex;
    align-items: center;
    margin-bottom: 5px;
    min-height: 40px;
    padding: 5px;
}
.statusMsg{
    background-color: var(--statusMsg);
}
.toAllMsg{
    background-color: var(--toAllMsg);
}
.pvtMsg{
    background-color: var(--pvtMsg);
}
.hour{
    margin: 0 5px;
    font-size: 14px;
    color: var(--hourColor);

}
li p{
    word-break: break-all;
    
}
.name{
    color: var(--text);
    font-weight: 700;
}



footer{
    position: fixed;
    background-color: var(--hdrColor);
    bottom: 0;
    width: 100vw;
    height: 80px;
    -webkit-box-shadow: 0px -4px 6px 0px rgba(0,0,0,0.05);
    -moz-box-shadow: 0px -4px 6px 0px rgba(0,0,0,0.05);
    box-shadow: 0px -4px 6px 0px rgba(0,0,0,0.05);
    z-index: 1;
}
footer .container{
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    position: relative;
}
footer textarea{
    flex: 1;
    height: 60px;
    border: none;
    padding: 10px 40px 0 10px ;
    font-size: 18px;
    font-weight: 400;
    line-height: 21px;
}
textarea:focus{
    border:none;
    outline: none;
}
textarea::placeholder{
    color: var(--text);
    font-weight: 400;
    font-style: italic;
    font-size: 18px;
    line-height: 21px;
}
textarea::-webkit-scrollbar{
    display: none;
}
.sendBtn{
    width: 27px;
    height: 24px;
    position: absolute;
    right: 0;
    margin-right: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: transparent;
    border: none;
}
.sendBtn ion-icon{
    font-size: 26px;
}
.msgInfos{
    position: fixed;
    bottom: 5px;
    left: 10px;
    color: var(--msgInfos);
}
